<script>
  import { Link } from "svelte-routing";
  import { Datatable, rows } from 'svelte-simple-datatables'

  import Box from "../components/Box.svelte";
  import PieChart from "../components/PieChart.svelte";

  import { userstate } from '../stores/userstate.js';
  import { todaysUptimes, alltimeUptimes, currentStatus } from '../stores/data.js';

  import Speedometer from "svelte-speedometer"

  function numberOnline() {
    var sum = 0;
    for (let el of $currentStatus) {
      if (el.isup) {sum++}
    }
    return sum
  }
</script>

  <div class="content flex">
    <div class="item">
	 	   <h2>Welcome to Uptime.Brurberg.no</h2>
	 	   <p>Here you will find uptime statistics from all the brurberg services.</p>
    </div>
    <div class="new_line"/>
    {#if $userstate && $userstate.authorized && $currentStatus}
      <h2 class="new_line">Current status</h2>
      <Speedometer value={numberOnline()} maxValue={$currentStatus.length} customSegmentStops={[0, $currentStatus.length/2, $currentStatus.length/10*8, $currentStatus.length]} segmentColors={['#FF471A', '#F1BA20', '#1ADB23']}/>
      <div class="new_line"/>
      {#each $currentStatus as site}
        <div class="min_item">
          <Box>
            <div class="inline_content">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="3em" xml:space="preserve" viewBox="0 0 260 400">
                <g transform="translate(-120 -15)">
                  <path style="fill: rgb(229, 229, 229);" d="M248.081,32.082c-52.079,0-94.304,24.952-94.304,55.732v253.533c0,30.78,42.225,55.732,94.304,55.732  s94.304-24.952,94.304-55.732V87.814C342.385,57.034,300.16,32.082,248.081,32.082z"></path>
                  <path style="fill: rgb(59, 59, 59);" d="M248.081,42.082c-45.05,0-81.575,23.585-81.575,52.679v239.64c0,29.094,36.525,52.679,81.575,52.679  s81.575-23.585,81.575-52.679V94.761C329.656,65.667,293.131,42.082,248.081,42.082z"></path>
                  <circle style={"fill: " + (!site.isup ? "rgb(234, 73, 73)" : "#808080") + ";"} cx="248.081" cy="116.581" r="43"></circle>
                  <path style={"fill: " + (!site.isup ? "rgb(242, 95, 95)" : "#909090") + ";"} d="M274.486,90.175c-14.583-14.583-38.228-14.583-52.811,0c-14.584,14.583-14.584,38.228,0,52.812  C236.259,157.57,289.07,104.759,274.486,90.175z"></path>
                  <circle style={"fill: " + (false ? "rgb(234, 180, 45)" : "#808080") + ";"} cx="248.081" cy="217.081" r="43"></circle>
                  <path style={"fill: " + (false ? "rgb(237, 203, 59)" : "#909090") + ";"} d="M274.486,191.175c-14.583-14.583-38.228-14.583-52.811,0c-14.584,14.583-14.584,38.228,0,52.812  C236.259,258.57,289.07,205.759,274.486,191.175z"></path>
                  <circle style={"fill: " + (site.isup ? "rgb(43, 191, 96)" : "#808080") + ";"} cx="248.081" cy="317.081" r="43"></circle>
                  <path style={"fill: " + (site.isup ? "rgb(60, 206, 108)" : "#909090") + ";"} d="M274.486,291.175c-14.583-14.583-38.228-14.583-52.811,0c-14.584,14.583-14.584,38.228,0,52.812  C236.259,358.57,289.07,305.759,274.486,291.175z"></path>
                </g>
              </svg>
              <h2>{site.hostname.replace(/^https?:\/\//, '')}</h2>
            </div>
          </Box>
        </div>
      {/each}
    {/if}
    {#if $userstate && $userstate.authorized && $todaysUptimes}
      <h2 class="new_line">Todays uptime</h2>
      {#each $todaysUptimes as todaysUptime}
        <div class="item">
          <Box>
            <h3>{todaysUptime.hostname.replace(/^https?:\/\//, '')}</h3>
            <PieChart pieHole legend data={[
              ['Up', todaysUptime.percentage_up],
              ['Down', todaysUptime.percentage_down],
              ['Unknown', todaysUptime.percentage_unknown],
            ]}/>
          </Box>
        </div>
      {/each}
    {/if}
    {#if $userstate && $userstate.authorized && $alltimeUptimes}
      <h2 class="new_line">Alltime uptime</h2>
      {#each $alltimeUptimes as alltimeUptime}
        <div class="item">
          <Box>
            <h3>{alltimeUptime.hostname.replace(/^https?:\/\//, '')}</h3>
            <PieChart pieHole legend data={[
              ['Up', alltimeUptime.percentage_up],
              ['Down', alltimeUptime.percentage_down],
              ['Unknown', alltimeUptime.percentage_unknown],
            ]}/>
          </Box>
        </div>
      {/each}
    {/if}
    <div class="new_line" style="padding-top: 1.5em;"/>
  </div>

<style>
  h3 {
    text-align: left;
  }
  hr {
    width: 100%;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
  	display: block;
		margin-top: .5em;
		margin-bottom: .5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
		color: rgba(0,0,0,.12);
	}
  .inline_content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .content {
		position: relative;
		max-width: 1270px;
		margin-left: auto;
		margin-right: auto;
    padding-top: 1em;
    background: #fff;
  }
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
  }

  .item {
    flex: 0 0 45%;
  }
  .min_item {
    flex: 0 0 20%;
  }
  .large_item {
    flex: 0 0 100%;
    width: 100%;
    height: 50em;
  }
  .new_line {
    flex: 0 0 100%;
  }
  .item_org {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .center {
    align-self: center;
  }
  .data {
    text-align:center;
    padding:4px 0;
  }

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}
thead tr:last-child th {
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: .5em;
}
thead tr:last-child th, tbody tr:not(:last-child) td {
	border-bottom: thin solid rgba(0,0,0,.12);
}

img {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
}

</style>
