<svg viewBox="0 0 107 102">
  <g class="svgBtn">
    <g>
      <rect x="51" y="1" rx="7.5" ry="7.5" width="55" height="100"
        style="fill:purple;stroke:black;stroke-width:1.5;" />
    </g>
    <g>
      <rect x="41" y="1" rx="7.5" ry="7.5" width="55" height="100"
        style="fill:blue;stroke:black;stroke-width:1.5;" />
    </g>
    <g>
      <rect x="31" y="1" rx="7.5" ry="7.5" width="55" height="100"
        style="fill:green;stroke:black;stroke-width:1.5;" />
    </g>
    <g>
      <rect x="21" y="1" rx="7.5" ry="7.5" width="55" height="100"
        style="fill:yellow;stroke:black;stroke-width:1.5;" />
    </g>
    <g>
      <rect x="11" y="1" rx="7.5" ry="7.5" width="55" height="100"
        style="fill:orange;stroke:black;stroke-width:1.5;" />
    </g>
    <g>
      <rect x="1" y="1" rx="7.5" ry="7.5" width="55" height="100"
        style="fill:red;stroke:black;stroke-width:1.5;" />
    </g>
  </g>
</svg>

<style>
  .svgBtn {
    opacity: .6;
  }
  .svgBtn:hover {
    cursor: pointer;
    opacity: .8;
  }
  .svgBtn:hover rect{
    stroke: lime !important ;
  }
</style>
