<script>
  import {GoogleCharts} from 'google-charts';
  export var data;
  export var title;
  export var pieHole = false;
  export var legend = false;

  var node;
	function onLoad(n) {
    node = n;
  }

  //Load the charts library with a callback
  GoogleCharts.load(drawChart, {'packages':['corechart']});
	function drawChart() {
    if (data == undefined) {
      return
    }
    // Standard google charts functionality is available as GoogleCharts.api after load
    const d = GoogleCharts.api.visualization.arrayToDataTable(data, true);

    var options = {
      chartArea: {left: 0, top: 15, width: '100%', height: '80%'},
    };
    if (title != undefined) {
      options["title"] = title;
    }
    if (pieHole) {
      options["pieHole"] = 0.4;
    }
    if (!legend) {
      options["legend"] = "none";
    }

    const chart = new GoogleCharts.api.visualization.PieChart(node);
    chart.draw(d, options);
  }
</script>

<div use:onLoad/>

<style>
  div {
    height: 100%;
    width: 100%;
  }
</style>
