<script>
  import { Router, Link, links, Route } from "svelte-routing";
  let url = "";

  import { userstate } from './stores/userstate.js';

  import Topbar from './components/Topbar.svelte';

  import Home from "./routes/Home.svelte";
  import Callback from "./routes/Callback.svelte";
</script>

<main>
  <Router url="{url}">
    <Topbar>
      <div class="flex_container" use:links>
        <div class="flex_item">
          <a href="/"><h1>Brurberg Uptime</h1></a>
        </div>
        <div class="link_list">
          <a class="link_button" href="/">Home</a>
          {#if $userstate.authorized}
          <a class="link_button" on:click={() => userstate.set('')}>Logout</a>
          {:else}
          <a class="link_button" href="https://auth.brurberg.no/register/uptime.brurberg.no">Register</a>
          <a class="link_button" href="https://auth.brurberg.no/extern-login/?extern=uptime.brurberg.no">Login</a>
          {/if}
        </div>
      </div>
    </Topbar>
    <Route path="callback" component="{Callback}" />
    <Route path="callback/:params" component="{Callback}" />
    <Route path="/"><Home /></Route>
  </Router>
</main>

<style>
:root {
  /* https://www.canva.com/colors/color-wheel/ */
  --orange: #FCA611;
  --green: #11FC31;
  --blue: #1167FC;
  --purple: #FC11DD;
  --primary: var(--orange);
  --secoundary: var(--blue);
  --monochromatic: #D78903;
  --triadicOne: #11FCA6;
  --triadicTwo: #A611FC;
  --analogOne: #DDFC11;
  --analogTwo: #FC3111;
  --gray: #E6E6E6;
  --background: var(--gray);
}
	main {
		text-align: center;
		padding: 0;
		margin: 0 auto;
    min-height: 100%;
    /* background-image: linear-gradient(var(--gray),#fff); */
	}
	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	h1 {
		color: var(--primary);
		font-size: 3em;
		font-weight: 350;
    margin: .5rem 0;
	}

  .flex_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1.5rem;
  }
  .flex_item {
    flex-basis: auto;
  }
  .link_list {
    display: flex;
    height: inherit;
  }
  .link_button {
    height: 100%;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;

    color: rgba(0,0,0,.5);
    padding-left: .5em;
    padding-right: .5em;
		font-weight: 750;
		letter-spacing: .0892857143em;
		text-indent: .0892857143em;
		text-transform: uppercase;
		white-space: nowrap;
  }
  .link_button:hover {
    background-color: var(--gray);
  }
</style>
